$trans-pink: #f5a9b8;
$trans-blue: #5bcefa;
$trans-blue-text: #51b1d4;
$contrasting-background: #eee;
$contrasting-background-dark: #2e2e2e;

//
// Generic elements
//

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100;
    margin: 0 auto;
    padding: 0 auto;
    min-height: 100vh;
}

h1 {
    border-bottom-style: solid;
    border-color: #ccc;
    border-bottom-width: thin;
    padding-bottom: 0.5rem;
}

a,
a:visited {
    color: $trans-blue-text;
}

a:hover {
    color: $trans-pink;
}

img {
    max-width: 100%;
}

li {
    margin-bottom: 0.25rem;
}

nav {
    display: inline-flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;

    a {
        padding-right: 1rem;
        font-size: 1.5rem;
    }
}

//
// Layout
//

#top-bar,
#bottom-bar {
    width: 100%;
}

.blue-bar,
.pink-bar {
    width: 100%;
    height: 2rem;
    padding: 0 auto;
    margin: 0 auto;
}

.blue-bar {
    background-color: $trans-blue;
}

.pink-bar {
    background-color: $trans-pink;
}

#page-body {
    padding-left: 3rem;
    padding-right: 3rem;
}

#inner-body {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    flex: 1 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

#bottom-bar,
#top-bar {
    flex-shrink: 0;
}

//
// Homepage icons
//

.nav-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nav-grid .grid-item {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: bold;
    display: block;
}

.nav-grid img {
    width: 8rem;
}

.nav-grid span {
    display: block;
}

//
// Resources
//

.email,
.website {
    word-break: break-all;
}

.resource {
    padding: 1rem;
}

.resource-label {
    font-weight: bold;
}

.resource-title {
    font-size: 1.5rem;
}

.resource:nth-child(even) {
    background-color: $contrasting-background;
}

//
// Scaling
//

@media only screen and (max-width: 1000px) {
    #page-body {
        width: initial;
        padding-left: initial;
    }

    #inner-body {
        padding: 1rem;
    }

    nav {
        flex-direction: column;
    }
}

//
// Dark mode
//

@media (prefers-color-scheme: dark) {
    body {
        color: whitesmoke;
        background-color: #1f1f1f;
    }

    .resource:nth-child(even) {
        background-color: $contrasting-background-dark;
    }
}
