* text=auto

*.css text diff=css
*.htm text diff=html
*.html text diff=html
*.py text diff=python
*.scss text diff=css
*.sh text eol=lf
*.markdown text diff=markdown
*.md text diff=markdown

*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.png binary
*.svg text
*.webp binary

*.7z binary
*.gz binary
*.jar binary
*.rar binary
*.tar binary
*.zip binary

*.ttf binary
*.eot binary
*.otf binary
*.woff binary
*.woff2 binary
