{% extends "base.html" %}

{% block title %}Alabama's Transgender and Gender Diversity Organizations{% endblock %}

{% block body %}
<div class="index-body">
    <img src="/theme/images/logo.png" alt="Alabama's Transgender and Gender Diversity Organizations" />

    <div class="nav-grid">
        <a href="/pages/support-groups.html" class="grid-item">
            <img src="/theme/images/support-group-icon.png" alt="Support Group" />
            <span>Support Groups</span>
        </a>
        <a href="/pages/local-resources.html" class="grid-item">
            <img src="/theme/images/local-resources.png" alt="Local Resources" />
            <span>Local Resources</span>
        </a>
        <a href="/pages/legal.html" class="grid-item">
            <img src="/theme/images/legal.png" alt="Name and Marker Changes" />
            <span>Legal Help</span>
        </a>
    </div>
</div>
{% endblock %}
