{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block description %}{{ page.description }}{% endblock %}

{% block body %}

<div id="page-body">
    <nav>
        <ul id="navigation">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/pages/support-groups.html">Support Groups</a>
            </li>
            <li>
                <a href="/pages/local-resources.html">Local Resources</a>
            </li>
            <li>
                <a href="/pages/legal.html">Legal Help</a>
            </li>
            <li>
                <a href="/pages/box.html">Trans Boxes</a>
            </li>
        </ul>
    </nav>
    {{ page.content }}
</div>

{% endblock %}
